@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html, body, button, input, select, textarea {
    font-family: "Roboto Slab", sans-serif;
    font-weight: lighter;
}

html {
    background-color: lightSkyBlue;
    /*background-image: url("/grey_wash_wall.png");*/
}
body {
    background-color: white;
    max-width: 600px;
    margin: 0.5em auto;
    padding: 1em;
    border-radius: 0.5em;
    border: 3px solid dodgerBlue;
    max-width: 600px;
}
a {
    color: mediumBlue;
}
a.gray {
    color: gray;
}
#upvote.voted, #downvote.voted {
    background-color: lightSkyBlue;
}
input.form-control.bias {
    width: 25px;
    padding: 0;
    text-align: center;
}
.youtube {
    width: 90%;
    height: 360px;
    display: block;
    margin: auto;
    border: none;
}
.previewThumbnail {
    max-height: 400px;
    max-width: 80%;
    display: block;
}
/** Helpers: **/
.small { font-size: small; }
.xSmall { font-size: x-small; }
.gray { color: gray; }
.red { color: red; }
.green { color: green; }
.noMargin { margin: 0; }
.autoMargin { margin: auto; }
.margin1em { margin: 1em; }
.noPadding { padding: 0; }
.padding1em { padding: 1em; }
.fullWidth { width: 100%; }
.inline { display: inline; }
.centerText { text-align: center; }
.verticalMiddle { vertical-align: middle; }
.cursorPointer { cursor: pointer; }
