@import url(https://fonts.googleapis.com/css?family=Raleway);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Raleway", sans-serif;
}

html {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/light_toast.png");
}
body {
    background-color: white;
    max-width: 600px;
    margin: 0.5em auto;
    padding: 1em;
    border-radius: 2px;
}
small {
    color: gray;
}
a {
    color: mediumBlue;
}
input {
    font-size: small;
}
#upvote, #downvote {
    font-size: x-small;
    color: white;
    border-color: black;
    font-weight: bold;
}
#upvote.voted, #downvote.voted {
    background-color: deepSkyBlue;
}
#upvote {
    background-color: green;
}
#downvote {
    background-color: red;
}
.small {
    font-size: small;
}
.gray {
    color: gray;
}
.floatRight {
    float: right;
}
.noMargin {
    margin: 0;
}
.fullWidth {
    width: 100%;
}
.inline {
    display: inline;
}
.centerText {
    text-align: center;
}
