@import url(https://fonts.googleapis.com/css?family=Raleway);

html, button, input, select, textarea {
    font-family: "Raleway", sans-serif;
}

html {
    background-color: lightSkyBlue;
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grey_wash_wall.png");
    /*background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/light_toast.png");*/
}
body {
    background-color: white;
    max-width: 600px;
    margin: 0.5em auto;
    padding: 1em;
    border-radius: 4px;
}
small {
    color: gray;
}
a {
    color: mediumBlue;
}
a.gray {
    color: gray;
}
input {
    font-size: small;
}
#upvote.voted, #downvote.voted {
    background-color: lightSkyBlue;
}
input.bias {
    width: 30px;
}
.small {
    font-size: small;
}
.gray { color: gray; }
.red { color: red; }
.green { color: green; }
.floatRight {
    float: right;
}
.noMargin {
    margin: 0;
}
.fullWidth {
    width: 100%;
}
.inline {
    display: inline;
}
.centerText {
    text-align: center;
}
.verticalMiddle {
    vertical-align: middle;
}
