@import url(https://fonts.googleapis.com/css?family=Raleway);

html, button, input, select, textarea {
    font-family: "Raleway", sans-serif;
}

html {
    background-color: lightSkyBlue;
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grey_wash_wall.png");
    /*background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/light_toast.png");*/
}
body {
    background-color: white;
    max-width: 600px;
    margin: 0.5em auto;
    padding: 1em;
    border-radius: 4px;
    max-width: 600px;
}
a {
    color: mediumBlue;
}
a.gray {
    color: gray;
}
input {
    font-size: small;
}
#upvote.voted, #downvote.voted {
    background-color: lightSkyBlue;
}
input.form-control.bias {
    width: 25px;
    padding: 0;
    text-align: center;
}
.youtube {
    width: 90%;
    height: 350px;
    display: block;
    margin: auto;
    border: none;
}
/** Helpers: **/
.small { font-size: small; }
.xSmall { font-size: x-small; }
.gray { color: gray; }
.red { color: red; }
.green { color: green; }
.noMargin { margin: 0; }
.autoMargin { margin: auto; }
.noPadding { padding: 0; }
.fullWidth { width: 100%; }
.inline { display: inline; }
.centerText { text-align: center; }
.verticalMiddle { vertical-align: middle; }
.cursorPointer { cursor: pointer; }
